[build]
  command = "pip install -r requirements.txt"
  publish = "."

[[redirects]]
  from = "/*"
  to = "/.netlify/functions/index"
  status = 200

[functions]
  directory = "netlify/functions"
  included_files = ["templates/**", "static/**"]
